[submodule "SubTools/AccountEnumeration/holehe"]
	path = SubTools/AccountEnumeration/holehe
	url = https://github.com/megadose/holehe.git
[submodule "SubTools/AccountEnumeration/ignorant"]
	path = SubTools/AccountEnumeration/ignorant
	url = https://github.com/megadose/ignorant.git
[submodule "SubTools/NetworkDomainRecon/recon-ng/recon-ng"]
	path = SubTools/NetworkDomainRecon/recon-ng/recon-ng
	url = https://github.com/lanmaster53/recon-ng.git
[submodule "SubTools/NetworkDomainRecon/spiderfoot"]
	path = SubTools/NetworkDomainRecon/spiderfoot
	url = https://github.com/smicallef/spiderfoot.git
[submodule "SubTools/NetworkDomainRecon/theHarvester"]
	path = SubTools/NetworkDomainRecon/theHarvester
	url = https://github.com/laramies/theHarvester.git
[submodule "SubTools/SocialMediaScraping/InstaLooter"]
	path = SubTools/SocialMediaScraping/InstaLooter
	url = https://github.com/althonos/InstaLooter.git
[submodule "SubTools/SocialMediaScraping/Osintgram"]
	path = SubTools/SocialMediaScraping/Osintgram
	url = https://github.com/Datalux/Osintgram.git
[submodule "SubTools/SocialMediaScraping/Telepathy"]
	path = SubTools/SocialMediaScraping/Telepathy
	url = https://github.com/jordanwildon/Telepathy.git
[submodule "SubTools/Username/blackbird"]
	path = SubTools/Username/blackbird
	url = https://github.com/p1ngul1n0/blackbird.git
[submodule "SubTools/Username/holehe"]
	path = SubTools/Username/holehe
	url = https://github.com/megadose/holehe.git
[submodule "SubTools/Username/sherlock"]
	path = SubTools/Username/sherlock
	url = https://github.com/sherlock-project/sherlock.git
